.turks{
    color: red;
}

.description{
    margin-top: 30px;
}

.btnStyle {
    padding: 8px 20px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.btnStyle:hover {
    transition: all 0.3s ease-out;
    background: rgb(10, 10, 10);
    color: #ffffff;
    transition: 250ms;
}

img {
    border-radius: 20px;
    width:340px; /* you can use % */
    height: auto;
}

