.navbar {
  background: rgba(221,221,221,255);
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 30px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}




