@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: rgba(221,221,221,255);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(10px + 2vmin);
}

.mint {
  margin-top: 10px;
  margin-bottom: 20px;
}

.mintMessage{
  margin-top: 30px;
  color: red;
  font-size: 15px;
}

.turks{
  color:red;
}

.descriptionContainer{
  width: 500px;
  border: 7px solid rgb(14, 15, 14);
  padding: 50px;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 5px;
}
.description{
  margin-top: 10px;
}